<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yugentechlabs.harrypotterworld">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HarryPotterWorld">
        <activity android:name=".Activities.SortingQuiz"></activity>
        <activity android:name=".Activities.CharacterQuiz" />
        <activity android:name=".Activities.PatronusQuiz" />
        <activity android:name=".Activities.WandQuiz" />
        <activity android:name=".Activities.WizardingQuiz" />
        <activity android:name=".Activities.QuizLevels" />
        <activity android:name=".Activities.LoginSignup" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>